extends layout

block content
	.container
		h1 Applicants
		ul#applications.list-unstyled
			- for (var i = 0; i<applicants.length; i++){
				li #{applicants[i].name} 
				a#remove.btn.btn-primary.btn-small Remove 
			-}